<div class="d-flex pt-5 justify-content-center">
    <form class="border border-dark p-3 rounded">
        <div class="d-flex justify-content-center mb-3">
            <mat-icon>account_box</mat-icon>
            <label class="pe-3"><b>LOGIN</b></label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="myEmail" placeholder="email">
            <label for="myEmail">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="myPassword" placeholder="password">
            <label for="myPassword">Password</label>
        </div>
        <div class="mb-3 form-check ">
            <input class="form-check-input" type="checkbox" value="" id="rememberCheck">
            <label class="form-check-label" for="rememberCheck">
                <small>remember me</small>
            </label>
        </div>
        <div class="mb-3">
            <button type="submit " class="btn btn-primary ">Login</button>
            <small> <a class="ms-2 " routerLink="register">no account? register</a></small>
        </div>
    </form>
</div>